.card {
  align-items: center;
  background-color: $darkGrayishBlue;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 52px 48px;
  position: relative;
  text-align: center;
  width: 100%;

  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;

    .advice-number {
      color: $neonGreen;
      font-size: 12px;
      font-weight: 800;
      letter-spacing: 2px;
      margin-bottom: 32px;
      text-transform: uppercase;
    }

    .quote {
      color: $lightCyan;
      font-size: 28px;
      font-weight: 800;
      margin-bottom: 32px;
    }
  }

  .divider {
    margin-bottom: 32px;
    max-width: 100%;

    &-desktop {
      display: block;
      width: 100%;

      @include tablet {
        display: none;
      }
    }

    &-mobile {
      display: none;

      @include tablet {
        display: block;
        width: 100%;
      }
    }
  }

  .dice {
    align-items: center;
    background-color: $neonGreen;
    border-radius: 50%;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 64px;
    padding: 20px;
    position: absolute;
    transform: translateY(50%);
    transition: all 125ms ease-in-out;
    width: 64px;

    &:hover {
      cursor: pointer;
      filter: drop-shadow(0 0 18px $neonGreen);
    }
  }
}
